In [1]:
import pandas as pd
import random
import csv

Number of rows: 5546686

In [ ]:
# Get the number of rows in the source file
filename = 'C:/Users/bhayek/Desktop/_t/NPI Data/NPPES_Data_Dissemination_April_2018/npidata_pfile_20050523-20180408.csv'
row_count = sum(1 for row in open(filename, errors='ignore'))
print('Number of rows: {}'.format(row_count))

In [54]:
# Reduce size option 1: Create a new file with sampled rows
samplesize = 100
skiprows = sorted(random.sample(range(1, row_count), row_count-samplesize))
df_sample = pd.read_csv(filename, skiprows=skiprows, dtype=str)
df_sample = df_sample.fillna('')
df_sample.head(5)

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_6,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15
0,1164414058,1,,,,THELEN,MARK,,,,...,,,,,,,,,,
1,1811970247,,,,,,,,,,...,,,,,,,,,,
2,1639154388,1,,,,YEGHISSIAN,JOYCE,M,DR.,,...,,,,,,,,,,
3,1528032232,1,,,,ROKALA,RANDY,,,,...,,,,,,,,,,
4,1922075621,2,,<UNAVAIL>,PIEDMONT INTERNAL MEDICINE PLC,,,,,,...,,,,,,,,,,

In [28]:
# Reduce size option 2: Create a new file with just the columns we want
chunksize = 10**5
cols_to_keep = ['NPI', 'Entity Type Code', 'Replacement NPI', 'Employer Identification Number (EIN)', 
                'Provider Organization Name (Legal Business Name)', 'Provider Last Name (Legal Name)', 
                'Provider First Name', 'Provider Middle Name', 'Provider Name Prefix Text', 'Provider Name Suffix Text', 
                'Provider Credential Text', 'Provider Other Organization Name', 'Provider Other Organization Name Type Code', 
                'Last Update Date', 'NPI Deactivation Reason Code', 'NPI Deactivation Date', 'NPI Reactivation Date']

filetrim = 'C:/Users/bhayek/Desktop/_t/NPI Data/NPPES_Data_Dissemination_April_2018/npidata_pfile_20050523-20180408_trim.csv'

header = True
for chunk in pd.read_csv(filename, chunksize=chunksize, usecols=cols_to_keep, dtype=str):
    chunk.to_csv(filetrim, mode='a', index=False, header=header)
    # Only write the header once
    header = False

In [29]:
# Count the rows in the new file
row_count = sum(1 for row in open(filetrim, errors='ignore'))
print('Number of rows: {}'.format(row_count))

Number of rows: 5546686

In [30]:
# Load the file for use
df_npi_trim = pd.read_csv(filetrim, dtype=str)
df_npi_trim = df_npi_trim.fillna('')
df_npi_trim.head(5)

In [53]:
print('Number of providers: {}'.format(len(df_npi_trim[df_npi_trim['Entity Type Code'] == '1'])))
print('Number of organizations: {}'.format(len(df_npi_trim[df_npi_trim['Entity Type Code'] == '2'])))

Number of providers: 4155027
Number of organizations: 1269694